extends layout

prepend scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/underscore.js")


prepend content
    .navbar.navbar-fixed-top
        .navbar-inner
            .container-fluid
                p.navbar-text.name.pull-left#playerName(data-bind="text: player().name") Name
                ul.nav.pull-right
                    li.dropdown
                        a.dropdown-toggle(href="#") 
                            span#playerScore(data-bind="text: player().score") Score
                            b.caret
                        ul.dropdown-menu#scores(data-bind="foreach: players")
                            li
                                span(data-bind="text: name")
                                |  -> 
                                span(data-bind="text: score")

    .container-fluid
        .row
            ul.thumbnails
                li.span4
                    .thumbnail.bcard#bcard(data-bind="text: bcard.text")
                li.span3
                    .thumbnail.wcard 
                        .czar Czar: 
                            span#czarName(data-bind="text: czarObject().name") Czar
                        p
                            span.badge#playersCount(data-bind="text: players().length") 0
                            |  players
                        p
                            span.badge.badge-success#entriesCount(data-bind="text: entries().length") 0
                            |  entries
                        a.btn#endRound(href="#", data-bind="visible : czar() == #{uuid}, css : { 'btn-primary' : entries().length >= players().length - 1 }") End Round
                li.span3
                    .thumbnail.wcard(data-bind="visible: winner.bcard")
                        p(data-bind="text: winner.bcard()")
                        p(data-bind="text: winner.name()")
                        p(data-bind="text: winner.wcard()")

        .alert.alert-error#alert(style="display: none") CRISIS ALERT
            button.close(data-dismiss="alert") ×
        .alert.alert-info#feedback
            span(data-bind="visible: state() == 'entry'") Entry round.  
            span(data-bind="visible: state() == 'vote'") Voting round.  
            span(data-bind="visible: czar() == uuid") You are the Czar.
        .entries(data-bind="visible: state() == 'vote'")
            ul.thumbnails#entries(data-bind="foreach: entries")
                li(class="span3")
                    div(class="thumbnail wcard", data-bind="text: $data, click: $parent.addVote")
        .hand(data-bind="visible: state() == 'entry'")
            ul.thumbnails#hand(data-bind="foreach: player().hand")
                li(class="span3")
                    div(class="thumbnail wcard", data-bind="text: $data, click: $parent.addEntry, css: { 'submitted' : _.indexOf($parent.entries(), $data) != -1 }")


    script
        var uuid = #{uuid}
        var socket = io.connect('#');
        var alertInterval
        var viewModel = ko.mapping.fromJS(!{JSON.stringify(game)});

        viewModel.player = ko.computed( function(){
            return _.find( viewModel.players(), function(player){
                 return player.id() == uuid 
             }) || {}
        })

        viewModel.czarObject = ko.computed( function(){
            return _.find( viewModel.players(), function(player){
                 return player.id() == viewModel.czar()
             }) || {}
        })

        viewModel.addEntry = function(item){
            console.log("addEntry " , item)
            socket.emit('entry', item)
        }
        viewModel.addVote = function(item){
            console.log("addVote", item)
            socket.emit('vote', item)
        }

        ko.applyBindings(viewModel);
        
        $("#endRound").click(function(){
            // Change the state of the game
            socket.emit("state", "vote")
        })

        $("#playerName").click(function(){
            // Change the person's name
            socket.emit('name', prompt("Enter Your Name:", ""))
        })

        socket.on('alert', function(data){
            console.log("ALERT: ", data)
            $('#alert').html(data).show()
            clearInterval(alertInterval)
            alertInterval = setInterval(function(){$('#alert').hide()}, 4000)
        })
        
        // This function will receive all game updates
        socket.on('game', function(data){
            // Knockout Implementation
            console.log("Game ", data)
            ko.mapping.fromJS(data, viewModel);
        })

        // Join the game
        socket.emit('join', uuid)
        